.main_header{
   
    background: linear-gradient(to right, #f38bdd, #87bbe9);
    /* position: absolute;
    right: 0px;
    left: 0px; */
    padding: 0 40px;
    color: #ffffff;
    padding: 23px 30px 10px 27px;

}
.Text_header h2{
    float: left;
    padding-bottom: 5px;
}
.Navbar ul li{
    list-style: none;
    padding: 0px 10px;
    text-transform: uppercase;

}
.Navbar ul li a{
    color: white;
    text-decoration: none;
}
.Navbar ul{
    display: flex;
    float: right;
   
}
.mainbody1{
    padding-top: 90px;

}